* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana' 'Tahoma' sans-serif;
}

#outer-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-main {
    border-radius: 12px;
    width: 350px;
    padding: 8px;
    border: 1px solid #666;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#calc-header {
    padding: 16px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
}

#calc-display, #calc-current-number {
    box-sizing: border-box;
    padding: 0.25rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: right;
}

#calc-buttons {
    display: grid;
    gap: 4px;
    grid-template-columns: auto auto auto auto;
}

#btn-clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#btn-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition: all 0.5s ease;
}

.number-button {
    background-color: #777;
    color: #fff;
}
.number-button:hover {
    background-color: #888;
}
.number-button:active {
    background-color: #999;
}

.operator-button {
    background-color: #333;
    color: #fff;
}
.operator-button:hover {
    background-color: #444;
}
.operator-button:active {
    background-color: #555;
}

.function-button {
    background-color: #065278;
    color: #fff;
}
.function-button:hover {
    background-color: #0870a4;
}
.function-button:active {
    background-color: #0a9be3;
}
